/* inline style(1000)> id selector(100)> class or attribute selector(10)> element selector and psuedo selector(1)> universal selector(0). */
/* refer also complex specificity addition rules like h1.yellow etc */

body {
    background-color: lightblue;
}

td {
    border: 2px solid black;
}

caption {
    background-color: gold
}

#a10 {
    color: brown;
}

.a1 {
    color: gold !important;
}

.b2 {
    background-color: beige;
}

a:hover {
    color: rgb(240, 10, 168);
}

a {
    color: yellow;
    padding: 10px;
    margin: 5px;
    border: 2px solid cyan;
    height: 100px;
    box-sizing: border-box;
}

form {
    margin: 10px;
    font-family: 'Poppins';
    /* font-style: italic; */
    /* line-height: 4; */
    /* letter-spacing: 50px; */
    text-transform: uppercase;
    text-align: center;
}

div p:first-child {
    background-color: yellow;
    color: red;
    word-break: break-all;
}